 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{

    font-family: 'Montserrat', sans-serif;
 }

 body {
   margin: 0px;
   
}

nav.menu-header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;


.menu-titre {

    a {
        text-decoration: none;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: bold;
        color:#0B1437;

        &:hover{
            color: #835600 !important;
            border-bottom: 2px solid #835600;
            padding-bottom: 2px;
            display: inline-block;

        }
    }
    .active-link{
       
            color: #835600 !important;
            border-bottom: 2px solid  #835600;
            padding-bottom: 2px;
            display: inline-block;
       
    }
}
.menu-button{
    button.button-menu-1 {
        height: 38px;
        background:none;
        border-radius: 8px;
        border: solid #0B1437 1px;
        color: #0B1437;
        width: 170px;
        font-size:13px;
        font-weight:600;
        margin: 0px 5px;

        &:hover{
            background: #0B1437;
            color: #ffffff;
        }
    }

    button.button-menu-2 {
        height: 38px;
        background: #0B1437;
        border-radius: 8px;
        border: solid #0B1437 1px;
        color: #ffffff;
        width: 170px;
        font-size: 13px;
        font-weight:600;
        margin: 0px 5px;
        
        &:hover{
            background: white;
            color: #0B1437;
        }

    }
}




}

.image-header{
    height: 675px;
    width: 100% !important;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

   .text-interieur-image{
    width: 58%;
    color: #ffffff;
    line-height: 40px;
    margin: 2%;
    h1{
        font-size: 38px;
      
       
    }
    p{
        font-size: 24px;
       
    };
    .button-image1 {
        height: 65px;
        background: #835600;
        border-radius: 8px;
        border: solid #ffffff  1px;
        color: #ffffff;
        width: 293px;
        font-size: 21px;
        font-weight:bold;
        margin: 0px 5px;

        &:hover{
            background: #0B1437;

        }

    }
    .button-image2 {
        height: 65px;
        background: #0B1437;
        border-radius: 8px;
        border: solid #ffffff 1px;
        color: #ffffff;
        width: 344px;
        font-size: 21px;
        font-weight:bold;
        margin: 0px 5px;

        &:hover{
            background: #835600;

        }

    }


   }
}

.section-aprop {

    width: 90%;
    margin:4% auto;
    display: flex;

    .apropos-gauche{
        width: 50%;
        h1{
            color: #0B1437;
            font-size: 42px;
            font-weight: bold;
        }
        p{
            width: 90%;
        line-height: 50px;
        text-align: justify;
        color: #323232;
    
        }
        
    }

    .apropos-droite{
        margin-top: 3%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .image-icone {
            text-align: center;
            width: 35%;
            color: #1B254B;
        }

    }


}

.quoi-avez-vous-besoin{

    width: 90%;
    margin: auto;
    
   


    .button-texte-recherche {
        display: flex;
        justify-content: space-between;
        width: 100%;
       
        align-items: center;

        h1{
            color: #0B1437;
            font-size: 42px;
            font-weight: bold;
        }

        p{
            width: 90%;
        color: #323232;
    
        }
        a.button-recherche {
            text-decoration: none;
            background:#835600;
            padding: 10px;
            border-radius: 8px;
            color: white;
            font-size: 18px;
            font-weight: normal;

          
                display: flex;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                width: 146px;

                &:hover{
                    background:#342200;

                }
            
        }
    }

    .card-top-fournisseur {
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

        .card-fourniseur{
            
            height: 456px;
            width: 24%;
            border-radius: 8px 8px 8px;
            position: relative;
            
                margin: 1% 0%;
                

                
    

              

            .voter-et-detaille{
               
                display: flex;
                margin: auto;
                justify-content: space-between;
                opacity: 0;
                z-index: 9;

                &:hover{
                    opacity: 1;
                    z-index: 9999999999999999999;
                }

               

              a{
                text-decoration: none;
                color: white;
                padding: 5px;
                font-size: 12px;
                font-weight: bold;
              }

              .votez{
                background: #0B1437;
              }

              .voir-détail{
                background: #835600;
              }
               

            }

            .voter-et-detaille::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background: red;
                opacity: 0;
                top: 0;
                z-index: -1;
            }

            h1{
                width: 90%;
                margin: 10% auto;
                font-size: 31px;
                color: #ffffff;

            }
            .dip-etoile{
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                
                .dipoble-vert {
                    font-size: 16px;
                    color:#01B574;
                    font-weight: bold;
                }

                .dipoble-vert.Occupe {
                    color: #7551FF !important;
                }


            }

            .text-body {
                width: 90%;
                margin: 5% auto;
                line-height: 30px;
                color: white;
                font-size:21px;
            }


            .prix-dans-crard {
                background:#EE5D50;
                width: 52%;
                margin: auto 5%;
                padding: 10px;
                color: white;
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
            }
        }

        .cardnumero1{
            background:url(/images/top-fournisseurs/1.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }
        }
        .cardnumero2{
            background:url(/images/top-fournisseurs/2.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }
        .cardnumero3{
            background:url(/images/top-fournisseurs/3.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }


        }
        .cardnumero4{
            background:url(/images/top-fournisseurs/4.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }
        .cardnumero5{
            background:url(/images/top-fournisseurs/5.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }
        .cardnumero6{
            background:url(/images/top-fournisseurs/6.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }

        .cardnumero7{
            background:url(/images/top-fournisseurs/7.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }
        .cardnumero8{
            background:url(/images/top-fournisseurs/8.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.3s ease;
            overflow: hidden;
            &:hover{

                transform: scale(1.02);
            }

        }


    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin: 4% auto;

        .page1234 {

            .bttpagination-actives {
                background:#0B1437;
                padding: 10px 20px;
                border-radius: 8px;
                text-decoration: none;
                font-size: 25px;
                color:#FFFFFF;
                font-weight: bold;
            }
            .button-page1 {
                text-decoration: none;
                color:#0B1437;
                padding: 20px;
                border-radius: 8px;
                font-size: 25px;
                 font-weight: bold;
            }
        }
    }

    .button-fournisseur{
        a{
            button{

              
                    background: white;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 20px;
                    line-height: 45px;
                    font-weight: 500;
                    color:#111C44;
                    border: solid;  
                    svg {
                        margin: -5px auto;
                    }  

                    &:hover{
                        color:white;
                        background: #111C44;

                    }
            }
        }

    }


}

.vous-este-fournisseur {
    width: 90%;
    margin: auto;
    height: 420px;
    border-radius: 8px;
    background: #f1f1f3;
    display: flex;

    .setion-gauche {
        width: 42%;
        margin: auto;

        h1 {
            color: #0B1437;
            font-size: 35px;
            font-weight: bold;
       
        }
        p{
            font-size: 22px;
            line-height:40px;
        }
        .deux-button-interne {
            display: flex;
            
            width: 83%;
        }

        .deux--interne{
            height: 55px;
            width: 226px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            
        }

            .butoon1{
                background: #39B8FF !important;
                border: solid #39B8FF !important;
                color: #ffffff;

                &:hover{

                    background: #ffffff !important;
                border: solid #ffffff !important;
                color: #39B8FF;
                }

            }

            .butoon2{

                color: #111C44;
                border: solid #111C44 !important;
                margin-left: 8%;

                &:hover{

                    background: #111C44 !important;
                    color: #ffffff;
                }

            }
        
    }

  

    .setion-droit{
        background: url(/images/persone.png);
        width: 50%;
        background-repeat: no-repeat;
        background-position: right;
    }
}

.liste-cadre-box{
    height: 331px;
    background:#f7f8f8;
    border-radius: 8px;
    border: solid #ABABAB;
    padding: 2%;
    margin: 4% auto;

    p{
        color:#ABABAB;
    }


    .titre-statut {
        display: flex;
        align-items: center;

        h1{
            color: #0B1437;
            font-size: 30px;
            margin: 0px;
        }
        p{
            color: #01B574;
            font-size: 19px;
            font-weight: bold;
            margin: auto 40px;
        }
        .fermer{

            color:#EE5D50;

        }
        .entraitement{
            color:#FFA620;
        }


    }
    .titre-vue-{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .vue-votes{
            
                font-size: 18px;
                color:#111C44;
        

        }
    }

    .budget-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    .categore-fourniseur {
        color: #39B8FF;
        font-size: 15px;
        font-weight: bold;
    }

    .description{
        color:#000000;
        font-size: 19px;

    }


    .budget-button {
        font-size: 24px;
        font-weight: bold;
        color: #835600;  
        margin: 2% 0% 0% 0%;

        .budget-icone {
            display: flex;
            span{
                margin: auto ;
            }
            .separateur{
                color: #000000;
                font-weight: normal;

            }
        }

        button {
            background: #DA4343;
            height: 46px;
            width: 145px;
            border: none;
            border-radius: 8px;
            &:hover{
               
                background:#01B574;
               
                
            }
            a{
               
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;

               

            }
        }
    }
}


.Newsletter{
    width: 90%;
    margin: auto;
    height: 292px;
    background:#f6f3ed;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;


    .formandtext {
        width: 90%;
    }

    h1{
        color: #0B1437;
        font-size: 37px;
        font-weight: bold;
    }
    p{
        color:#989898;
    }

    input[type="email"] {
        height:30px;
        width: 400px;
        font-size: 25px;
        border-radius: 8px;
        border: none;
        padding: 10px;
    }

    input[type="submit"]{
        height:50px;
        font-size: 25px;
        border-radius: 8px;
        border: none;
        background:#835600;
        padding: 10px;
        color: white;
        margin: 1%;

        &:hover{
            color: #835600;
            background:white;
            border: solid #835600;

        }
    }
}


.actualite{
   
    p{
        width: 100% !important;

    }
}

.card-des-actus {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card-on-actu{
   
    background-size: 100%;
   height: 535px;
   background: rgb(255, 255, 255);
   border: solid gray;
   border-radius: 8px;
   width: 30%;
   overflow: hidden;

   .image-box{
    height: 355px;
    width: 100%;
    background: url(/images/actu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.1);

    }

   }
 p {
    font-size: 14px;
    margin: 2%;
    color: gray;
}

   .date-titre {
    display: flex;
    align-items: center;

    p {
        font-size: 16px;
        color: #000000;
        font-weight: bold;
        margin: 20px;
    }

    .date {
        background:#dcd0b8;
        padding: 10px;
        margin-top: 2%;


hr {
    color: black !important;
    border: solid 1px;
}
    }

   
}

.comment-like {
    display: flex;
    justify-content: space-around;
    background:#835600;
    height: 45px;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    color: white;
}
}


/* Style de base */
.accordion {
    
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;

    &:hover{
        color: #825600;
    }
}

.accordion-content {
    display: none;
    padding: 10px;
}


.accordion-item.active .accordion-content {
    display: block;
}


.faq{
    width: 90%;
    margin: auto;

}

.titre-faq {
    margin: 4% auto;
}

.blue-du-footer{
    margin-top: 4%;
    height: 332px;
    background: #0B1437;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        color: white;
    }
}

.copirith{
    height: 50px;
    background:#DEDEDE;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
}

.photo-header{
    height: 323px;
    background:url(/images/page-internephoto.png);
    display: flex;
    align-items: center;

    .header-texte{
        width: 90%;
        margin: auto;
    }

}

.header-texte{
    h1{
        color: white;
    }
}

.categorie-interne {

    span {
       
            background: white;
            padding: 10px;
            margin: 0px 10px 0px 0px;
            border-radius: 10px;
            color: #835600;
            font-size: 13px;
            font-weight: bold;
       
    }
}

.btton-t{
   
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
  

    p{
        color: #01B574;
        font-weight: bold;
        font-size: 25px;
    }

    button {
        background:#EE5D50;
        text-decoration: none;
        height:51px;
        width: 183px;
        border: none;
        border-radius: 8px;

        a{
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            color: white;

        }
    }

}


.section-en-deux {
    display: flex;

    .budget-button {
        display: flex;
        justify-content: space-between;
    }

    .vue-votes {
        color: #989898;
    }
   
}

.buggetseullll {
    display: flex;
}


.contenue-interne {
    margin: auto;
    width: 100%;

    .budget-icone {
        font-size: 20px;
        color: #835600;
        font-weight: bold;
        display: flex;
    }
}

.section-descritiopn {
    width: 100%;
    margin-right: 1%;
}

.section-gauche {
    width: 50%;

    .box-lire-plus {
        background: #f6f6f8;
        padding: 10px;
        margin: 10px;
        border-radius: 8px;
        border: solid #afb3c0;

        h1{
            font-size: 25px;
            color:#1B254B;
        }
        p{
            font-size: 19px;
            color:#989898;

            span{
                color: #39B8FF;
                font-weight: bold;
            }
        }
    }

    .box-lire-plus div {
        line-height: 2;
        display: flex;
        align-items: flex-start;

         span {
            margin:5px;
        }
    }
}

.description-besion-besion {
    color: #111C44;
}

.descriptionp {
    background: #F9F9F9;
    padding: 10px;
    border-radius: 8px;
    line-height: 45px;
}


.aucunficheir{
    color:#989898;

}

.autrebesion-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      
            font-size: 30px;
            color:#111C44;

       
    }

}

.box-image-slide {
    display: flex;
    text-align: center;
    justify-content: space-between;

    overflow: hidden;

   .box1-4 {
        border-radius: 8px;
        height: 24vh;
        width: 24%;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
       
    }

    .cradr-1{
        background: url(/images/detaille-projet/1.png);
        background-position: center;
    transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.03);
        }
    

    }
    .cradr-2{
        background: url(/images/detaille-projet/2.png);
        background-position: center;
        transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.03);
            }
    }
    .cradr-3{
        background: url(/images/detaille-projet/3.png);
        background-position: center;
        transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.03);
            }
    }

    .cradr-4{
        background: url(/images/detaille-projet/4.png);
        background-position: center;
        transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.03);
            }
    }
    
}


    .section-en-deux-presentation {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        margin: auto;
    }


    .section-gauche-p {
        width: 50%;
        margin-right: 2%;
    
        .box-lire-plus {
            background: #f8f5f0;
            padding: 10px;
            margin: 10px;
            border-radius: 8px;
            border: solid #f8f5f0;
    
            h1{
                font-size: 25px;
                color:#835600;
            }
            p{
                font-size: 19px;
                color:#989898;
    
                span{
                    color: #39B8FF;
                    font-weight: bold;
                }
            }

           

           
        }
    
        .box-lire-plus div {
            line-height: 2;
            display: flex;
            align-items: flex-start;
    
             span {
                margin:5px;
            }

        }
    }

    .box-lire-plus.Statistiques div {
        display: flex;
        justify-content: space-between;

        .projet-stastique {
            color:#39B8FF;
            font-weight: bold;
        }
    }

    .texte-descriptionlogo {
        text-align: center;
    }

    .Disponible-desci {
        color: #01B574 !important;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   



.connectons-content {
    display: flex;
    justify-content: space-between;
    height: 86vh;
    align-items: center;
}

.photo-login {
    height: 80vh;
    width: 37%;
    background: url(/images/persone-login.png);
    margin: 2%;
    border-radius: 20px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: #fff;
    background-repeat: no-repeat;
    position: relative;
    
}

.images-texte {
    height: 35%;
}

.texte-intern-photo {
    margin: 20% 3%;
}

.eclipe {
    position: absolute;
    left: -100px;
    top: 19vh;
    z-index: -1;
}


.formulaire-connextion{
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    margin: 10px auto;
    background:#835600;
    border: solid #835600;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    font-weight: bold;


    &:hover{
        color: #835600;
        background:white;
        border: solid #835600;

    }
}

.texte-mot-de-passe {
    text-align: center;
}

.connexion-page {
    color: #835600;
}

.parametre-connexion {
    color: #111C44;
}

input[type="email"], input[type="password"] {
    height: 40px;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
    border: solid gray;

}

.texte-mot-de-passe {
    color: #0B1437;
}
.copirith.connectionpages {
    background: white;
    display: flex;
    width: 60%;
    justify-content: center;
}

.menu-burger {
    display: none;
}

.info-disponible {
    margin: 4% auto;
    width: 90%;
    color: #02b574;
    font-weight: bold;
}

.info-disponible.dipoble-vert.Occupe {
    color: #7552ff !important;
}

.pub {
    text-align: center;
    background: #1b254b !important;
    border: none !important;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    h1{
        color: white !important;
    }
}

.dive-avant-footer , .section-en-deux{
    margin: auto;
    width: 90%;

}

h2.description-besion-besion-button-intern {
    width: 90%;
    margin: 3% auto;
}

input[type="submit"] {
  
    width: 100%;
}

.temoignages {
    text-align: center;
    height: 127px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button-de-recherche {
    display: flex;
    align-content: center;
    align-items: center;

 
}
.reload-button {
    border: solid 2px #ee5c50;
    border-radius: 5px;
    padding: 7px;
    margin: 0px 0px 0px 13px;
}




.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    width: 50%;


    input[type="text"] , select#choixFruit {
        width: 96%;
        font-size: 18px;
        border-radius: 8px;
        padding: 10px;
        margin: auto;
        border: solid 1px gray;
    }

    select#choixFruit {
        width: 100%;
    }
    h2 {
        color: #825600;
    }

    p {
        font-size: 18px;
        font-weight: bold;
    }


    span#closeButton {
        border: solid 2px red;
        color: red;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

    input[type="submit"] {
        width: 28%;
        margin: 16px 0px;
        background: #835600;
        border: solid #835600;
        color: white;
        padding: 10px;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        font-weight: bold;
    }

   

  
}
input#closeButton {
    background: #fff;
    border: solid 1px #835600;
    color: #835600;
    z-index: 999999999999;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

button#openButton {
    border: none;
    background: none;
}

.button-fac-forme {
    display: flex;
    justify-content: space-between;
}

input.bontton-envoyer {
    width: 25%;
}




.popover {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    top: 70px;
    left: 4px;
}

#popoverButton:hover + .popover,
.popover:hover {
    display: block !important;
}

input.valider {
    background: #0b1437 !important;
}

.popover::after {
    content: "";
    position: absolute;
    top: revert;
    top: -10px;
    left: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff00 transparent transparent transparent;
}

.liste-cadre-box:hover {
    background: #dde2e7;
}


input.Se-connecter {
    background: #0b1437;
    font-weight: inherit;
}

/*CSS rules for screens with a maximum */

@media screen and (max-width: 768px) {

    .menu-burger {
        display: block;
    }

    .menu-titre , .menu-button {
    display: none;

}

.menu-titre {
    position: absolute;
    right: 0;
    top: 62px;
    background: white;
    padding: 16px;
    width: 200px;
    text-align: end;
    line-height: 31px;
}

.menu-button {
    position: absolute;
    right: 0;
    top: 184px;
    background: white;
    padding: 0px 0px 32px 32px;
    width: 200px;
}
nav.menu-header .menu-button button.button-menu-1 {
    
    margin: 10px 5px;
    font-size: 13px !important;
}

.menu-button button.button-menu-2 , .liste-cadre-box .titre-vue- .vue-votes{
    font-size: 13px !important;
}

h1 {
    font-size: 28px !important;
}

p , a , button {
    font-size: 15px !important;
}
.deux-button-dans-image {
    display: flex;
}
.section-aprop{
    display: flex;
    flex-direction: column;

    .apropos-gauche , .apropos-droite {
        width: 90%;
        margin: auto;

    }
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
    height: 456px;
    width: 48%;
    border-radius: 8px 8px 8px;
    position: relative;
    margin: 1% 0%;
}

.vous-este-fournisseur .setion-gauche .deux-button-interne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 83%;
    flex-wrap: wrap;
    height: 146px;
}

.vous-este-fournisseur .setion-droit {
    background: url(/images/persone.png);
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.liste-cadre-box .titre-statut p {
    
    margin: auto 40px;
    display: flex;
    align-items: center;
    svg {
        margin: 10px;
    }
}
.liste-cadre-box .budget-button {
    font-size: 19px;
    font-weight: bold;
    color: #835600;
    margin: 2% 0% 0% 0%;
}

.Newsletter input[type="email"] , .Newsletter input[type="submit"] {

    font-size: 13px;
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.card-on-actu {
    background-size: 100%;
    height: 556px;
    background: white;
    border: solid gray;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
}

.accordion-header{
    span {
        font-size: 15px;
    }
}

.section-en-deux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.section-gauche {
    width: auto;
}

h2 {
    font-size: 16px;
}
.section-en-deux-presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.section-gauche-p {
    width: 100%;
    margin-right: 2%;
}
.photo-login {
    display: none;
}
.connectons-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    height: 86vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.images-texte {
    height: 35%;
    position: absolute;
    left: 0;
}
.image-header .text-interieur-image .button-image2, .image-header .text-interieur-image .button-image1 {
    width: auto;
    white-space: nowrap;
}

}

@media screen and (max-width: 480px) {

    .image-header .text-interieur-image .button-image2, .image-header .text-interieur-image .button-image1 {
        width: auto;
        white-space: nowrap;
        font-size: 10px !important;
    }

    h1 {
        font-size: 18px !important;
    }
   
    .image-header .text-interieur-image {
        width: 90%;
        color: #ffffff;
        line-height: 40px;
        margin: 2%;
    }

    .quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
        height: 350px;
        width: 100%;
        border-radius: 8px 8px 8px;
        position: relative;
        margin: 1% 0%;
    }

    .quoi-avez-vous-besoin .pagination {
      
        display: flex;
       
        
        margin: 4% auto;
        flex-wrap: wrap;
    }

    .page1234 {
       
        display: flex;
        align-items: center;
    }

    .vous-este-fournisseur {
        display: flex;
       
        flex-wrap: wrap;
    }

    .vous-este-fournisseur .setion-gauche {
        width: 90%;
        margin: auto;
    }

    .setion-droit {
        display: none;
    }

    p, a, button {
        font-size: 12px !important;
    }

    .liste-cadre-box .titre-vue- .vue-votes {
        font-size: 10px !important;
    }

    .liste-cadre-box .budget-button {
        font-size: 12px;
        font-weight: bold;
        color: #835600;
        margin: 2% 0% 0% 0%;
    }

    .liste-cadre-box .budget-button .budget-icone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
    }
    .Newsletter input[type="email"] {
        height: 30px;
        width: auto;
        font-size: 13px;
        border-radius: 8px;
        border: none;
        padding: 10px;
    }


    .Newsletter {
        width: 90%;
        margin: auto;
        height: 292px;
        background: #f6f3ed;
        border-radius: 8px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
    }


    .card-on-actu {
        background-size: 100%;
        height: 527px;
        background: white;
        border: solid gray;
        border-radius: 8px;
        width: 100%;
        overflow: hidden;
        margin: 10px 0px;
    }

    .images-texte {
        height: 35%;
        position: absolute;
        left: 0;
        z-index: -1;
    }


    .box-image-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .box-image-slide .box1-4 {
        border-radius: 8px;
        height: 24vh;
        margin: 10px auto;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: white;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .categorie-interne {
        display: flex;
        flex-wrap: wrap;
    }

    .categorie-interne span {
        background: white;
        padding: 10px;
        margin: 10px 10px 0px 0px;
        border-radius: 10px;
        color: #835600;
        font-size: 13px;
        font-weight: bold;
    }

    .contenue-interne .budget-icone {
        font-size: 13px;
        color: #835600;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
    }

    .section-en-deux .vue-votes {
        color: #989898;
        font-size: 13px;
    }

    .section-gauche .box-lire-plus {
        background: #f6f6f8;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 8px;
        border: solid #afb3c0;
    }



        .menu-titre {
            position: absolute;
            right: 0;
            top: 62px;
            background: white;
            padding: 16px;
            width: 168px;
            text-align: end;
            line-height: 31px;
        }

        .menu-button {
            position: absolute;
            right: 0;
            top: 184px;
            background: white;
            padding: 0px 0px 32px 0px;
            width: 200px;
        }



}