@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
}

nav.menu-header {
  width: 96%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.menu-header .menu-titre a {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #0B1437;
}

nav.menu-header .menu-titre .active-link {
  color: #835600 !important;
  border-bottom: 2px solid  #835600;
  padding-bottom: 2px;
  display: inline-block;
}

nav.menu-header .menu-button button.button-menu-1 {
  height: 38px;
  background: none;
  border-radius: 8px;
  border: solid #0B1437 1px;
  color: #0B1437;
  width: 170px;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 5px;
}

nav.menu-header .menu-button button.button-menu-1:hover {
  background: #0B1437;
  color: #ffffff;
}

nav.menu-header .menu-button button.button-menu-2 {
  height: 38px;
  background: #0B1437;
  border-radius: 8px;
  border: solid #0B1437 1px;
  color: #ffffff;
  width: 170px;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 5px;
}

nav.menu-header .menu-button button.button-menu-2:hover {
  background: white;
  color: #0B1437;
}

.image-header {
  height: 675px;
  width: 100% !important;
  background: url(/images/image-home-pricipal.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-header .text-interieur-image {
  width: 50%;
  color: #ffffff;
  line-height: 40px;
  margin: 2%;
}

.image-header .text-interieur-image h1 {
  font-size: 38px;
}

.image-header .text-interieur-image p {
  font-size: 24px;
}

.image-header .text-interieur-image .button-image1 {
  height: 65px;
  background: #835600;
  border-radius: 8px;
  border: solid #ffffff  1px;
  color: #ffffff;
  width: 293px;
  font-size: 21px;
  font-weight: bold;
  margin: 0px 5px;
}

.image-header .text-interieur-image .button-image2 {
  height: 65px;
  background: #0B1437;
  border-radius: 8px;
  border: solid #ffffff 1px;
  color: #ffffff;
  width: 344px;
  font-size: 21px;
  font-weight: bold;
  margin: 0px 5px;
}

.section-aprop {
  width: 96%;
  margin: 4% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-aprop .apropos-gauche {
  width: 50%;
}

.section-aprop .apropos-gauche h1 {
  color: #0B1437;
  font-size: 42px;
  font-weight: bold;
}

.section-aprop .apropos-gauche p {
  width: 90%;
  line-height: 50px;
  text-align: justify;
  color: #323232;
}

.section-aprop .apropos-droite {
  margin-top: 3%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-aprop .apropos-droite .image-icone {
  text-align: center;
  width: 35%;
  color: #1B254B;
}

.quoi-avez-vous-besoin {
  width: 96%;
  margin: auto;
}

.quoi-avez-vous-besoin .button-texte-recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quoi-avez-vous-besoin .button-texte-recherche h1 {
  color: #0B1437;
  font-size: 42px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .button-texte-recherche p {
  width: 90%;
  color: #323232;
}

.quoi-avez-vous-besoin .button-texte-recherche a.button-recherche {
  text-decoration: none;
  background: #835600;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 146px;
}

.quoi-avez-vous-besoin .card-top-fournisseur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
  height: 456px;
  width: 24%;
  border-radius: 8px 8px 8px;
  position: relative;
  margin: 1% 0%;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille {
  padding-top: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille .votez {
  background: #0B1437;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille .voir-détail {
  background: #835600;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur h1 {
  width: 90%;
  margin: 10% auto;
  font-size: 31px;
  color: #ffffff;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile .dipoble-vert {
  font-size: 16px;
  color: #01B574;
  font-weight: bold;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile .dipoble-vert.Occupe {
  color: #7551FF !important;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .text-body {
  width: 90%;
  margin: 5% auto;
  line-height: 30px;
  color: white;
  font-size: 21px;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .prix-dans-crard {
  background: #EE5D50;
  width: 52%;
  margin: auto 5%;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero1 {
  background: url(/images/top-fournisseurs/1.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero2 {
  background: url(/images/top-fournisseurs/2.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero3 {
  background: url(/images/top-fournisseurs/3.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero4 {
  background: url(/images/top-fournisseurs/4.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero5 {
  background: url(/images/top-fournisseurs/5.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero6 {
  background: url(/images/top-fournisseurs/6.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero7 {
  background: url(/images/top-fournisseurs/7.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero8 {
  background: url(/images/top-fournisseurs/8.png);
  background-repeat: no-repeat;
}

.quoi-avez-vous-besoin .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4% auto;
}

.quoi-avez-vous-besoin .pagination .page1234 .bttpagination-actives {
  background: #0B1437;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
}

.quoi-avez-vous-besoin .pagination .page1234 .button-page1 {
  text-decoration: none;
  color: #0B1437;
  padding: 20px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .button-fournisseur a button {
  background: white;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
  color: #111C44;
  border: solid;
}

.quoi-avez-vous-besoin .button-fournisseur a button svg {
  margin: -5px auto;
}

.vous-este-fournisseur {
  width: 96%;
  margin: auto;
  height: 420px;
  border-radius: 8px;
  background: #f1f1f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vous-este-fournisseur .setion-gauche {
  width: 42%;
  margin: auto;
}

.vous-este-fournisseur .setion-gauche h1 {
  color: #0B1437;
  font-size: 35px;
  font-weight: bold;
}

.vous-este-fournisseur .setion-gauche p {
  font-size: 22px;
  line-height: 40px;
}

.vous-este-fournisseur .setion-gauche .deux-button-interne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
}

.vous-este-fournisseur .setion-gauche .deux--interne {
  height: 55px;
  width: 226px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.vous-este-fournisseur .setion-gauche .butoon1 {
  background: #39B8FF !important;
  border: solid #39B8FF !important;
  color: #ffffff;
}

.vous-este-fournisseur .setion-gauche .butoon2 {
  color: #111C44;
  border: solid #111C44 !important;
}

.vous-este-fournisseur .setion-droit {
  background: url(/images/persone.png);
  width: 50%;
  background-repeat: no-repeat;
}

.liste-cadre-box {
  height: 331px;
  background: #f7f8f8;
  border-radius: 8px;
  border: solid #ABABAB;
  padding: 2%;
}

.liste-cadre-box p {
  color: #ABABAB;
}

.liste-cadre-box .titre-statut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .titre-statut h1 {
  color: #0B1437;
  font-size: 30px;
  margin: 0px;
}

.liste-cadre-box .titre-statut p {
  color: #01B574;
  font-size: 19px;
  font-weight: bold;
  margin: auto 40px;
}

.liste-cadre-box .titre-vue- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .titre-vue- .vue-votes {
  font-size: 18px;
  color: #111C44;
}

.liste-cadre-box .budget-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .categore-fourniseur {
  color: #39B8FF;
  font-size: 15px;
  font-weight: bold;
}

.liste-cadre-box .description {
  color: #000000;
  font-size: 19px;
}

.liste-cadre-box .budget-button {
  font-size: 24px;
  font-weight: bold;
  color: #835600;
  margin: 2% 0% 0% 0%;
}

.liste-cadre-box .budget-button .budget-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liste-cadre-box .budget-button .budget-icone span {
  margin: auto;
}

.liste-cadre-box .budget-button .budget-icone .separateur {
  color: #000000;
  font-weight: normal;
}

.liste-cadre-box .budget-button button {
  background: #DA4343;
  height: 46px;
  width: 145px;
  border: none;
  border-radius: 8px;
}

.liste-cadre-box .budget-button button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */