 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{

    font-family: 'Montserrat', sans-serif;
 }

 body {
   margin: 0px;
   
}

nav.menu-header {
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;


.menu-titre {

    a {
        text-decoration: none;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: bold;
        color:#0B1437;
    }
    .active-link{
       
            color: #835600 !important;
            border-bottom: 2px solid  #835600;
            padding-bottom: 2px;
            display: inline-block;
       
    }
}
.menu-button{
    button.button-menu-1 {
        height: 38px;
        background:none;
        border-radius: 8px;
        border: solid #0B1437 1px;
        color: #0B1437;
        width: 170px;
        font-size:13px;
        font-weight:600;
        margin: 0px 5px;

        &:hover{
            background: #0B1437;
            color: #ffffff;
        }
    }

    button.button-menu-2 {
        height: 38px;
        background: #0B1437;
        border-radius: 8px;
        border: solid #0B1437 1px;
        color: #ffffff;
        width: 170px;
        font-size: 13px;
        font-weight:600;
        margin: 0px 5px;
        
        &:hover{
            background: white;
            color: #0B1437;
        }

    }
}




}

.image-header{
    height: 675px;
    width: 100% !important;
    background:url(/images/image-home-pricipal.png);
   
    display: flex;
    align-items: center;

   .text-interieur-image{
    width: 50%;
    color: #ffffff;
    line-height: 40px;
    margin: 2%;
    h1{
        font-size: 38px;
      
       
    }
    p{
        font-size: 24px;
       
    };
    .button-image1 {
        height: 65px;
        background: #835600;
        border-radius: 8px;
        border: solid #ffffff  1px;
        color: #ffffff;
        width: 293px;
        font-size: 21px;
        font-weight:bold;
        margin: 0px 5px;

    }
    .button-image2 {
        height: 65px;
        background: #0B1437;
        border-radius: 8px;
        border: solid #ffffff 1px;
        color: #ffffff;
        width: 344px;
        font-size: 21px;
        font-weight:bold;
        margin: 0px 5px;

    }


   }
}

.section-aprop {

    width: 96%;
    margin:4% auto;
    display: flex;

    .apropos-gauche{
        width: 50%;
        h1{
            color: #0B1437;
            font-size: 42px;
            font-weight: bold;
        }
        p{
            width: 90%;
        line-height: 50px;
        text-align: justify;
        color: #323232;
    
        }
        
    }

    .apropos-droite{
        margin-top: 3%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .image-icone {
            text-align: center;
            width: 35%;
            color: #1B254B;
        }

    }


}

.quoi-avez-vous-besoin{

    width: 96%;
    margin: auto;
    
   


    .button-texte-recherche {
        display: flex;
        justify-content: space-between;
        width: 100%;
       
        align-items: center;

        h1{
            color: #0B1437;
            font-size: 42px;
            font-weight: bold;
        }

        p{
            width: 90%;
        color: #323232;
    
        }
        a.button-recherche {
            text-decoration: none;
            background:#835600;
            padding: 10px;
            border-radius: 8px;
            color: white;
            font-size: 18px;
            font-weight: normal;

          
                display: flex;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                width: 146px;
            
        }
    }

    .card-top-fournisseur {
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

        .card-fourniseur{
            
            height: 456px;
            width: 24%;
            border-radius: 8px 8px 8px;
            position: relative;
            
                margin: 1% 0%;
    

            .voter-et-detaille{
                padding-top: 11%;
                display: flex;
                margin: auto;
                justify-content: space-between;

              a{
                text-decoration: none;
                color: white;
                padding: 5px;
                font-size: 12px;
                font-weight: bold;
              }

              .votez{
                background: #0B1437;
              }

              .voir-détail{
                background: #835600;
              }
               

            }

            h1{
                width: 90%;
                margin: 10% auto;
                font-size: 31px;
                color: #ffffff;

            }
            .dip-etoile{
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                
                .dipoble-vert {
                    font-size: 16px;
                    color:#01B574;
                    font-weight: bold;
                }

                .dipoble-vert.Occupe {
                    color: #7551FF !important;
                }


            }

            .text-body {
                width: 90%;
                margin: 5% auto;
                line-height: 30px;
                color: white;
                font-size:21px;
            }


            .prix-dans-crard {
                background:#EE5D50;
                width: 52%;
                margin: auto 5%;
                padding: 10px;
                color: white;
                font-size: 15px;
                font-weight: bold;
                border-radius: 8px;
            }
        }

        .cardnumero1{
            background:url(/images/top-fournisseurs/1.png);
            background-repeat: no-repeat;
        }
        .cardnumero2{
            background:url(/images/top-fournisseurs/2.png);
            background-repeat: no-repeat;
        }
        .cardnumero3{
            background:url(/images/top-fournisseurs/3.png);
            background-repeat: no-repeat;
        }
        .cardnumero4{
            background:url(/images/top-fournisseurs/4.png);
            background-repeat: no-repeat;
        }
        .cardnumero5{
            background:url(/images/top-fournisseurs/5.png);
            background-repeat: no-repeat;
        }
        .cardnumero6{
            background:url(/images/top-fournisseurs/6.png);
            background-repeat: no-repeat;
        }

        .cardnumero7{
            background:url(/images/top-fournisseurs/7.png);
            background-repeat: no-repeat;
        }
        .cardnumero8{
            background:url(/images/top-fournisseurs/8.png);
            background-repeat: no-repeat;
        }


    }

    .pagination {
        display: flex;
        justify-content: space-between;
        margin: 4% auto;

        .page1234 {

            .bttpagination-actives {
                background:#0B1437;
                padding: 10px 20px;
                border-radius: 8px;
                text-decoration: none;
                font-size: 25px;
                color:#FFFFFF;
                font-weight: bold;
            }
            .button-page1 {
                text-decoration: none;
                color:#0B1437;
                padding: 20px;
                border-radius: 8px;
                font-size: 25px;
                 font-weight: bold;
            }
        }
    }

    .button-fournisseur{
        a{
            button{

              
                    background: white;
                    border-radius: 8px;
                    text-align: center;
                    font-size: 20px;
                    line-height: 45px;
                    font-weight: 500;
                    color:#111C44;
                    border: solid;  
                    svg {
                        margin: -5px auto;
                    }  
            }
        }

    }


}

.vous-este-fournisseur {
    width: 96%;
    margin: auto;
    height: 420px;
    border-radius: 8px;
    background: #f1f1f3;
    display: flex;

    .setion-gauche {
        width: 42%;
        margin: auto;

        h1 {
            color: #0B1437;
            font-size: 35px;
            font-weight: bold;
       
        }
        p{
            font-size: 22px;
            line-height:40px;
        }
        .deux-button-interne {
            display: flex;
            justify-content: space-between;
            width: 83%;
        }

        .deux--interne{
            height: 55px;
            width: 226px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            
        }

            .butoon1{
                background: #39B8FF !important;
                border: solid #39B8FF !important;
                color: #ffffff;

            }

            .butoon2{

                color: #111C44;
                border: solid #111C44 !important;

            }
        
    }

  

    .setion-droit{
        background: url(/images/persone.png);
        width: 50%;
        background-repeat: no-repeat;
    }
}

.liste-cadre-box{
    height: 331px;
    background:#f7f8f8;
    border-radius: 8px;
    border: solid #ABABAB;
    padding: 2%;

    p{
        color:#ABABAB;
    }


    .titre-statut {
        display: flex;
        align-items: center;

        h1{
            color: #0B1437;
            font-size: 30px;
            margin: 0px;
        }
        p{
            color: #01B574;
            font-size: 19px;
            font-weight: bold;
            margin: auto 40px;
        }


    }
    .titre-vue-{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .vue-votes{
            
                font-size: 18px;
                color:#111C44;
        

        }
    }

    .budget-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    .categore-fourniseur {
        color: #39B8FF;
        font-size: 15px;
        font-weight: bold;
    }

    .description{
        color:#000000;
        font-size: 19px;

    }


    .budget-button {
        font-size: 24px;
        font-weight: bold;
        color: #835600;  
        margin: 2% 0% 0% 0%;

        .budget-icone {
            display: flex;
            span{
                margin: auto ;
            }
            .separateur{
                color: #000000;
                font-weight: normal;

            }
        }

        button {
            background: #DA4343;
            height: 46px;
            width: 145px;
            border: none;
            border-radius: 8px;
            a{
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;

            }
        }
    }
}