@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
}

nav.menu-header {
  width: 96%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.menu-header .menu-titre a {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #0B1437;
}

nav.menu-header .menu-titre a:hover {
  color: #835600 !important;
  border-bottom: 2px solid #835600;
  padding-bottom: 2px;
  display: inline-block;
}

nav.menu-header .menu-titre .active-link {
  color: #835600 !important;
  border-bottom: 2px solid  #835600;
  padding-bottom: 2px;
  display: inline-block;
}

nav.menu-header .menu-button button.button-menu-1 {
  height: 38px;
  background: none;
  border-radius: 8px;
  border: solid #0B1437 1px;
  color: #0B1437;
  width: 170px;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 5px;
}

nav.menu-header .menu-button button.button-menu-1:hover {
  background: #0B1437;
  color: #ffffff;
}

nav.menu-header .menu-button button.button-menu-2 {
  height: 38px;
  background: #0B1437;
  border-radius: 8px;
  border: solid #0B1437 1px;
  color: #ffffff;
  width: 170px;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 5px;
}

nav.menu-header .menu-button button.button-menu-2:hover {
  background: white;
  color: #0B1437;
}

.image-header {
  height: 675px;
  width: 100% !important;
  background: url(/images/image-home-pricipal.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-header .text-interieur-image {
  width: 58%;
  color: #ffffff;
  line-height: 40px;
  margin: 2%;
}

.image-header .text-interieur-image h1 {
  font-size: 38px;
}

.image-header .text-interieur-image p {
  font-size: 24px;
}

.image-header .text-interieur-image .button-image1 {
  height: 65px;
  background: #835600;
  border-radius: 8px;
  border: solid #ffffff  1px;
  color: #ffffff;
  width: 293px;
  font-size: 21px;
  font-weight: bold;
  margin: 0px 5px;
}

.image-header .text-interieur-image .button-image1:hover {
  background: #0B1437;
}

.image-header .text-interieur-image .button-image2 {
  height: 65px;
  background: #0B1437;
  border-radius: 8px;
  border: solid #ffffff 1px;
  color: #ffffff;
  width: 344px;
  font-size: 21px;
  font-weight: bold;
  margin: 0px 5px;
}

.image-header .text-interieur-image .button-image2:hover {
  background: #835600;
}

.section-aprop {
  width: 96%;
  margin: 4% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-aprop .apropos-gauche {
  width: 50%;
}

.section-aprop .apropos-gauche h1 {
  color: #0B1437;
  font-size: 42px;
  font-weight: bold;
}

.section-aprop .apropos-gauche p {
  width: 90%;
  line-height: 50px;
  text-align: justify;
  color: #323232;
}

.section-aprop .apropos-droite {
  margin-top: 3%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-aprop .apropos-droite .image-icone {
  text-align: center;
  width: 35%;
  color: #1B254B;
}

.quoi-avez-vous-besoin {
  width: 96%;
  margin: auto;
}

.quoi-avez-vous-besoin .button-texte-recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quoi-avez-vous-besoin .button-texte-recherche h1 {
  color: #0B1437;
  font-size: 42px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .button-texte-recherche p {
  width: 90%;
  color: #323232;
}

.quoi-avez-vous-besoin .button-texte-recherche a.button-recherche {
  text-decoration: none;
  background: #835600;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 146px;
}

.quoi-avez-vous-besoin .button-texte-recherche a.button-recherche:hover {
  background: #342200;
}

.quoi-avez-vous-besoin .card-top-fournisseur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
  height: 456px;
  width: 24%;
  border-radius: 8px 8px 8px;
  position: relative;
  margin: 1% 0%;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille {
  padding-top: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  z-index: 9;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille:hover {
  opacity: 1;
  z-index: 9999999999999999999;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille .votez {
  background: #0B1437;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille .voir-détail {
  background: #835600;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .voter-et-detaille::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
  opacity: 0;
  top: 0;
  z-index: -1;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur h1 {
  width: 90%;
  margin: 10% auto;
  font-size: 31px;
  color: #ffffff;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile .dipoble-vert {
  font-size: 16px;
  color: #01B574;
  font-weight: bold;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .dip-etoile .dipoble-vert.Occupe {
  color: #7551FF !important;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .text-body {
  width: 90%;
  margin: 5% auto;
  line-height: 30px;
  color: white;
  font-size: 21px;
}

.quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur .prix-dans-crard {
  background: #EE5D50;
  width: 52%;
  margin: auto 5%;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero1 {
  background: url(/images/top-fournisseurs/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero1:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero2 {
  background: url(/images/top-fournisseurs/2.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero2:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero3 {
  background: url(/images/top-fournisseurs/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero3:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero4 {
  background: url(/images/top-fournisseurs/4.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero4:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero5 {
  background: url(/images/top-fournisseurs/5.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero5:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero6 {
  background: url(/images/top-fournisseurs/6.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero6:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero7 {
  background: url(/images/top-fournisseurs/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero7:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero8 {
  background: url(/images/top-fournisseurs/8.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  overflow: hidden;
}

.quoi-avez-vous-besoin .card-top-fournisseur .cardnumero8:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.quoi-avez-vous-besoin .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4% auto;
}

.quoi-avez-vous-besoin .pagination .page1234 .bttpagination-actives {
  background: #0B1437;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  font-weight: bold;
}

.quoi-avez-vous-besoin .pagination .page1234 .button-page1 {
  text-decoration: none;
  color: #0B1437;
  padding: 20px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
}

.quoi-avez-vous-besoin .button-fournisseur a button {
  background: white;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  font-weight: 500;
  color: #111C44;
  border: solid;
}

.quoi-avez-vous-besoin .button-fournisseur a button svg {
  margin: -5px auto;
}

.quoi-avez-vous-besoin .button-fournisseur a button:hover {
  color: white;
  background: #111C44;
}

.vous-este-fournisseur {
  width: 96%;
  margin: auto;
  height: 420px;
  border-radius: 8px;
  background: #f1f1f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vous-este-fournisseur .setion-gauche {
  width: 42%;
  margin: auto;
}

.vous-este-fournisseur .setion-gauche h1 {
  color: #0B1437;
  font-size: 35px;
  font-weight: bold;
}

.vous-este-fournisseur .setion-gauche p {
  font-size: 22px;
  line-height: 40px;
}

.vous-este-fournisseur .setion-gauche .deux-button-interne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83%;
}

.vous-este-fournisseur .setion-gauche .deux--interne {
  height: 55px;
  width: 226px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.vous-este-fournisseur .setion-gauche .butoon1 {
  background: #39B8FF !important;
  border: solid #39B8FF !important;
  color: #ffffff;
}

.vous-este-fournisseur .setion-gauche .butoon1:hover {
  background: #ffffff !important;
  border: solid #ffffff !important;
  color: #39B8FF;
}

.vous-este-fournisseur .setion-gauche .butoon2 {
  color: #111C44;
  border: solid #111C44 !important;
}

.vous-este-fournisseur .setion-gauche .butoon2:hover {
  background: #111C44 !important;
  color: #ffffff;
}

.vous-este-fournisseur .setion-droit {
  background: url(/images/persone.png);
  width: 50%;
  background-repeat: no-repeat;
}

.liste-cadre-box {
  height: 331px;
  background: #f7f8f8;
  border-radius: 8px;
  border: solid #ABABAB;
  padding: 2%;
  margin: 2% auto;
}

.liste-cadre-box p {
  color: #ABABAB;
}

.liste-cadre-box .titre-statut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .titre-statut h1 {
  color: #0B1437;
  font-size: 30px;
  margin: 0px;
}

.liste-cadre-box .titre-statut p {
  color: #01B574;
  font-size: 19px;
  font-weight: bold;
  margin: auto 40px;
}

.liste-cadre-box .titre-statut .fermer {
  color: #EE5D50;
}

.liste-cadre-box .titre-statut .entraitement {
  color: #FFA620;
}

.liste-cadre-box .titre-vue- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .titre-vue- .vue-votes {
  font-size: 18px;
  color: #111C44;
}

.liste-cadre-box .budget-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-cadre-box .categore-fourniseur {
  color: #39B8FF;
  font-size: 15px;
  font-weight: bold;
}

.liste-cadre-box .description {
  color: #000000;
  font-size: 19px;
}

.liste-cadre-box .budget-button {
  font-size: 24px;
  font-weight: bold;
  color: #835600;
  margin: 2% 0% 0% 0%;
}

.liste-cadre-box .budget-button .budget-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liste-cadre-box .budget-button .budget-icone span {
  margin: auto;
}

.liste-cadre-box .budget-button .budget-icone .separateur {
  color: #000000;
  font-weight: normal;
}

.liste-cadre-box .budget-button button {
  background: #DA4343;
  height: 46px;
  width: 145px;
  border: none;
  border-radius: 8px;
}

.liste-cadre-box .budget-button button:hover {
  background: #01B574;
}

.liste-cadre-box .budget-button button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.Newsletter {
  width: 96%;
  margin: auto;
  height: 292px;
  background: #f6f3ed;
  border-radius: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Newsletter .formandtext {
  width: 96%;
}

.Newsletter h1 {
  color: #0B1437;
  font-size: 37px;
  font-weight: bold;
}

.Newsletter p {
  color: #989898;
}

.Newsletter input[type="email"] {
  height: 30px;
  width: 400px;
  font-size: 25px;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.Newsletter input[type="submit"] {
  height: 50px;
  font-size: 25px;
  border-radius: 8px;
  border: none;
  background: #835600;
  padding: 10px;
  color: white;
  margin: 1%;
}

.Newsletter input[type="submit"]:hover {
  color: #835600;
  background: white;
  border: solid #835600;
}

.actualite p {
  width: 100% !important;
}

.card-des-actus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-on-actu {
  background-size: 100%;
  height: 535px;
  background: white;
  border: solid gray;
  border-radius: 8px;
  width: 30%;
  overflow: hidden;
}

.card-on-actu .image-box {
  height: 355px;
  width: 100%;
  background: url(/images/actu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card-on-actu .image-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-on-actu p {
  font-size: 14px;
  margin: 2%;
  color: gray;
}

.card-on-actu .date-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-on-actu .date-titre p {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  margin: 20px;
}

.card-on-actu .date-titre .date {
  background: #dcd0b8;
  padding: 10px;
  margin-top: 2%;
}

.card-on-actu .date-titre .date hr {
  color: black !important;
  border: solid 1px;
}

.card-on-actu .comment-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #835600;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 8px 8px;
  color: white;
}

/* Style de base */
.accordion {
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.accordion-header:hover {
  color: #825600;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-item.active .accordion-content {
  display: block;
}

.faq {
  width: 96%;
  margin: auto;
}

.titre-faq {
  margin: 4% auto;
}

.blue-du-footer {
  margin-top: 4%;
  height: 332px;
  background: #0B1437;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blue-du-footer h2 {
  color: white;
}

.copirith {
  height: 50px;
  background: #DEDEDE;
  font-size: 16px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666666;
}

.photo-header {
  height: 323px;
  background: url(/images/page-internephoto.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-header .header-texte {
  width: 96%;
  margin: auto;
}

.header-texte h1 {
  color: white;
}

.categorie-interne span {
  background: white;
  padding: 10px;
  margin: 0px 10px 0px 0px;
  border-radius: 10px;
  color: #835600;
  font-size: 13px;
  font-weight: bold;
}

.btton-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btton-t p {
  color: #01B574;
  font-weight: bold;
  font-size: 25px;
}

.btton-t button {
  background: #EE5D50;
  text-decoration: none;
  height: 51px;
  width: 183px;
  border: none;
  border-radius: 8px;
}

.btton-t button a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.section-en-deux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-en-deux .budget-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-en-deux .vue-votes {
  color: #989898;
}

.buggetseullll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenue-interne {
  margin: auto;
  width: 96%;
}

.contenue-interne .budget-icone {
  font-size: 20px;
  color: #835600;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-descritiopn {
  width: 100%;
  margin-right: 1%;
}

.section-gauche {
  width: 50%;
}

.section-gauche .box-lire-plus {
  background: #f6f6f8;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid #afb3c0;
}

.section-gauche .box-lire-plus h1 {
  font-size: 25px;
  color: #1B254B;
}

.section-gauche .box-lire-plus p {
  font-size: 19px;
  color: #989898;
}

.section-gauche .box-lire-plus p span {
  color: #39B8FF;
  font-weight: bold;
}

.section-gauche .box-lire-plus div {
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-gauche .box-lire-plus div span {
  margin: 5px;
}

.description-besion-besion {
  color: #111C44;
}

.descriptionp {
  background: #F9F9F9;
  padding: 10px;
  border-radius: 8px;
  line-height: 45px;
}

.aucunficheir {
  color: #989898;
}

.autrebesion-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autrebesion-button h1 {
  font-size: 30px;
  color: #111C44;
}

.box-image-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.box-image-slide .box1-4 {
  border-radius: 8px;
  height: 24vh;
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-image-slide .cradr-1 {
  background: url(/images/detaille-projet/1.png);
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.box-image-slide .cradr-1:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.box-image-slide .cradr-2 {
  background: url(/images/detaille-projet/2.png);
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.box-image-slide .cradr-2:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.box-image-slide .cradr-3 {
  background: url(/images/detaille-projet/3.png);
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.box-image-slide .cradr-3:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.box-image-slide .cradr-4 {
  background: url(/images/detaille-projet/4.png);
  background-position: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.box-image-slide .cradr-4:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.section-en-deux-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-gauche-p {
  width: 50%;
  margin-right: 2%;
}

.section-gauche-p .box-lire-plus {
  background: #f8f5f0;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid #f8f5f0;
}

.section-gauche-p .box-lire-plus h1 {
  font-size: 25px;
  color: #835600;
}

.section-gauche-p .box-lire-plus p {
  font-size: 19px;
  color: #989898;
}

.section-gauche-p .box-lire-plus p span {
  color: #39B8FF;
  font-weight: bold;
}

.section-gauche-p .box-lire-plus div {
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section-gauche-p .box-lire-plus div span {
  margin: 5px;
}

.box-lire-plus.Statistiques div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-lire-plus.Statistiques div .projet-stastique {
  color: #39B8FF;
  font-weight: bold;
}

.texte-descriptionlogo {
  text-align: center;
}

.Disponible-desci {
  color: #01B574 !important;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-login {
  height: 80vh;
  width: 37%;
  background: url(/images/persone-login.png);
  margin: 2%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-repeat: no-repeat;
  position: relative;
}

.images-texte {
  height: 35%;
}

.texte-intern-photo {
  margin: 20% 3%;
}

.eclipe {
  position: absolute;
  left: -100px;
  top: 19vh;
  z-index: -1;
}

.formulaire-connextion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type="submit"] {
  margin: 10px auto;
  background: #835600;
  border: solid #835600;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

input[type="submit"]:hover {
  color: #835600;
  background: white;
  border: solid #835600;
}

.texte-mot-de-passe {
  text-align: center;
}

.connexion-page {
  color: #835600;
}

.parametre-connexion {
  color: #111C44;
}

input[type="email"], input[type="password"] {
  height: 40px;
  font-size: 18px;
  padding: 5px;
  border-radius: 8px;
  border: solid gray;
}

.texte-mot-de-passe {
  color: #825600;
}

.menu-burger {
  display: none;
}

/*CSS rules for screens with a maximum */
@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
  .menu-titre, .menu-button {
    display: none;
  }
  .menu-titre {
    position: absolute;
    right: 0;
    top: 62px;
    background: white;
    padding: 16px;
    width: 200px;
    text-align: end;
    line-height: 31px;
  }
  .menu-button {
    position: absolute;
    right: 0;
    top: 184px;
    background: white;
    padding: 0px 0px 32px 32px;
    width: 200px;
  }
  nav.menu-header .menu-button button.button-menu-1 {
    margin: 10px 5px;
    font-size: 13px !important;
  }
  .menu-button button.button-menu-2, .liste-cadre-box .titre-vue- .vue-votes {
    font-size: 13px !important;
  }
  h1 {
    font-size: 28px !important;
  }
  p, a, button {
    font-size: 15px !important;
  }
  .deux-button-dans-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-aprop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-aprop .apropos-gauche, .section-aprop .apropos-droite {
    width: 96%;
    margin: auto;
  }
  .quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
    height: 456px;
    width: 48%;
    border-radius: 8px 8px 8px;
    position: relative;
    margin: 1% 0%;
  }
  .vous-este-fournisseur .setion-gauche .deux-button-interne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 83%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 146px;
  }
  .vous-este-fournisseur .setion-droit {
    background: url(/images/persone.png);
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .liste-cadre-box .titre-statut p {
    margin: auto 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .liste-cadre-box .titre-statut p svg {
    margin: 10px;
  }
  .liste-cadre-box .budget-button {
    font-size: 19px;
    font-weight: bold;
    color: #835600;
    margin: 2% 0% 0% 0%;
  }
  .Newsletter input[type="email"], .Newsletter input[type="submit"] {
    font-size: 13px;
    border-radius: 8px;
    border: none;
    padding: 10px;
  }
  .card-on-actu {
    background-size: 100%;
    height: 556px;
    background: white;
    border: solid gray;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
  }
  .accordion-header span {
    font-size: 15px;
  }
  .section-en-deux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-gauche {
    width: auto;
  }
  h2 {
    font-size: 16px;
  }
  .section-en-deux-presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-gauche-p {
    width: 100%;
    margin-right: 2%;
  }
  .photo-login {
    display: none;
  }
  .connectons-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    height: 86vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .images-texte {
    height: 35%;
    position: absolute;
    left: 0;
  }
  .image-header .text-interieur-image .button-image2, .image-header .text-interieur-image .button-image1 {
    width: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .image-header .text-interieur-image .button-image2, .image-header .text-interieur-image .button-image1 {
    width: auto;
    white-space: nowrap;
    font-size: 10px !important;
  }
  h1 {
    font-size: 18px !important;
  }
  .image-header .text-interieur-image {
    width: 96%;
    color: #ffffff;
    line-height: 40px;
    margin: 2%;
  }
  .quoi-avez-vous-besoin .card-top-fournisseur .card-fourniseur {
    height: 350px;
    width: 100%;
    border-radius: 8px 8px 8px;
    position: relative;
    margin: 1% 0%;
  }
  .quoi-avez-vous-besoin .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4% auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page1234 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .vous-este-fournisseur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vous-este-fournisseur .setion-gauche {
    width: 96%;
    margin: auto;
  }
  .setion-droit {
    display: none;
  }
  p, a, button {
    font-size: 12px !important;
  }
  .liste-cadre-box .titre-vue- .vue-votes {
    font-size: 10px !important;
  }
  .liste-cadre-box .budget-button {
    font-size: 12px;
    font-weight: bold;
    color: #835600;
    margin: 2% 0% 0% 0%;
  }
  .liste-cadre-box .budget-button .budget-icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .Newsletter input[type="email"] {
    height: 30px;
    width: auto;
    font-size: 13px;
    border-radius: 8px;
    border: none;
    padding: 10px;
  }
  .Newsletter {
    width: 96%;
    margin: auto;
    height: 292px;
    background: #f6f3ed;
    border-radius: 8px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-on-actu {
    background-size: 100%;
    height: 527px;
    background: white;
    border: solid gray;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0px;
  }
  .images-texte {
    height: 35%;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .box-image-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .box-image-slide .box1-4 {
    border-radius: 8px;
    height: 24vh;
    margin: 10px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .categorie-interne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .categorie-interne span {
    background: white;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
    color: #835600;
    font-size: 13px;
    font-weight: bold;
  }
  .contenue-interne .budget-icone {
    font-size: 13px;
    color: #835600;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .section-en-deux .vue-votes {
    color: #989898;
    font-size: 13px;
  }
  .section-gauche .box-lire-plus {
    background: #f6f6f8;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 8px;
    border: solid #afb3c0;
  }
  .menu-titre {
    position: absolute;
    right: 0;
    top: 62px;
    background: white;
    padding: 16px;
    width: 168px;
    text-align: end;
    line-height: 31px;
  }
  .menu-button {
    position: absolute;
    right: 0;
    top: 184px;
    background: white;
    padding: 0px 0px 32px 0px;
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */